target/
.classpath
.project
*.DS_Store
.settings/
*.pdf

pom.xml

pom.xml

db/db.lck

db/db.lck

db/log/log.ctrl
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
*.ucls

src/main/java/edu/fh/kanban/data/Sort.java
